.quotes {
    border: 1px solid #e9ecef;
    
}

.first-row {
    height: 790px;
}

.pagination-row {
    margin-top: auto;
}
.service-list {
    max-height: 90px;
    overflow-y: auto;
}
.events-container {
    max-height: 710px;
    overflow-y: auto;
}

