    /* Fondo replicado */
    body {
        background-image: url('/images/imagen4.jpg');
        background-repeat: repeat;
        background-size: contain;
        background-position: center;
        color: rgb(255, 255, 255);
      }
      /* Carrusel completo ancho */
      .carousel img {
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }
      /* Contenedor de paquetes */
      .package-card {
        background-color: rgba(21, 58, 21, 0.89);
        border: 2px solid white;
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
      }
      /* Carrusel de comentarios */
      .testimonial-card {
        text-align: center;
        background-color: rgba(21, 58, 21, 0.89);
        border: 2px solid white;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        color: white;
      }
      .testimonial-card img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
      }
      /* Anuncio */
      .cta {
        background-color: rgba(21, 58, 21, 0.89);
        color: white;
        text-align: center;
        padding: 10px 10px;
        margin: 10px 0;
        border-radius: 10px;
        background-image: url('imagen7.jpg');
        background-size: cover;
        background-blend-mode: overlay;
      }
    #crearPaqueteBoton {
        background-color: #2b1a06; 
        padding: 10px;
        border-radius: 100px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid rgba(255, 255, 255, 0.904);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    #crearPaqueteBoton:hover {
        transform: scale(1.05);
    }
    .carousel-logo {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: auto;
        border-radius: 10px;
        padding: 5px;
        /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); */
        max-width: 110px;
        max-height: 110px;
      }
    .carousel-item img {
        filter: brightness(40%);
      }
      .carousel-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
      }
      .package-card img {
        width: 100%;
        height: auto;
        border-radius: 3%;
        border: 2px solid rgb(77, 160, 74);
      }
/* Ajustes responsivos */
@media (max-width: 576px) {
    .package-card {
      padding: 10px;
    }
    .package-card img {
      height: auto;
    }
    .package-card h3 {
      font-size: 1.2rem;
    }
    .package-card p {
      font-size: 0.9rem;
    }
  }